/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
     -fx-font-family: 'Meiryo UI';
     -fx-font-size:  10pt;
}

.number-cloumn {
	-fx-alignment: top-right;
}

.table-row-cell:empty {
    -fx-background-color: lightyellow;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.border-pane {
    -fx-border-color: black ;
    -fx-border-width: 0.3px;
}

.text-field:readonly {
    -fx-background-color : lightgray;
}

.chart-plot-background {
    -fx-background-color: white;
}

.table-column {
    -fx-border-color: black ;
    -fx-border-width: 0.1px;
}

.satureday-column-cell:filled {
    -fx-background-color: paleturquoise;
    -fx-text-fill: blue;
}

.satureday-column-cell:selected {
    -fx-background-color: royalblue ;
    -fx-text-fill: white;
}

.sunday-column-cell:filled {
    -fx-background-color: blanchedalmond;
    -fx-text-fill: red;
}

.sunday-column-cell:selected {
    -fx-background-color: royalblue ;
    -fx-text-fill: white;
}

.holiday-column-cell:filled {
    -fx-background-color: blanchedalmond;
    -fx-text-fill: red;
}

.holiday-column-cell:selected {
    -fx-background-color: royalblue ;
    -fx-text-fill: white;
}

.today-column-cell:filled {
    -fx-background-color: gold;
    -fx-text-fill: black;
}

.today-column-cell:selected {
    -fx-background-color: royalblue ;
    -fx-text-fill: white;
}

.weekday-column-cell:filled {
    -fx-background-color: white ;
    -fx-text-fill: black;
}

.weekday-column-cell:selected {
    -fx-background-color: royalblue ;
    -fx-text-fill: white;
}

.none-column-cell:filled {
    -fx-background-color: whitesmoke ;
}

.none-column-cell:selected {
    -fx-background-color: royalblue ;
}
